!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RENO
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "“anonymous”", :href => "“https://use.fontawesome.com/releases/v5.5.0/css/all.css”", :integrity => "“sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU”", :rel => "“stylesheet”"}/
    %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.0.6/js/all.js"}

  %body
    .header
      .header__left
        =link_to image_tag('reno.jpg', width: 80, height: 80), root_path, class: 'reno-icon'
        =link_to 'RENO', '/', class: 'title text'
        =link_to 'はじめての方', '/', class: 'tyutorial text'
        =link_to 'サービス', '/', class: 'servise text'
        =link_to 'ブランド一覧', '/', class: 'brand text'
        =link_to 'キャンペーン', '/', class: 'canpen text'
        =link_to '会社情報', '/', class: 'info text'
      .header__right
        =link_to '/', class: 'phone text clearfix' do
          .phone-btn
            %P お問い合わせ
    = yield
